.nav {
  position: absolute;
  height: 60px;
  background-color: rgba(20, 20, 20, 1.0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  * {
    color: white;
  }
}

.body-container {
  z-index: -9999999;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.brand {
  cursor: pointer;
  font-family: $major;
  font-style: italic;
  font-size: 30px;
  color: white !important;
}

.nav-button {
  cursor: pointer;
  width: 20%;
  display: flex;
  justify-content: center;
  font-family: $minor;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.5) !important;
  transform : scale(1,0.95);
  -webkit-transform:scale(1,0.95); /* Safari and Chrome */
  -moz-transform:scale(1,0.95); /* Firefox */
  -ms-transform:scale(1,0.95); /* IE 9+ */
  -o-transform:scale(1,0.95); /* Opera */
}